SOURCE_DB_URL=postgresql+psycopg2://user:pass@host:5432/dbname
DEST_DB_URL=postgresql+psycopg2://user:pass@host:5432/dbname
DIAS_CARGA=3
SCHEDULE_START=06:00
SCHEDULE_INTERVAL_MINUTES=30
SCHEDULE_END=22:00
